a,
p,
ul,
span,
h3,
h4 {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 400 !important;
  color: #000 !important;
}

a.modal-link {
  color: #9922f0 !important;
  font-weight: 600 !important;
}

a:hover {
  text-decoration: none !important;
  color: #000;
}

ul {
  list-style-type: none;
  padding-left: 0px;
  margin-bottom: 0px;
}

p.section-title {
  text-align: center;
  font-size: 36px;
}

body {
  position: relative;
}

nav {
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 0px 10px -2px #333;
}

nav.navbar {
  position: fixed !important;
  top: 0px;
  z-index: 1;
  transition: all 0.35s ease-in-out;
}

nav .row {
  width: 100%;
}

nav .row .m-2 {
  margin: 4px !important;
}

nav a {
  color: #fff !important;
}

nav a.button {
  display: inline-block;
  line-height: normal;
  padding: 10px;
  border: 1px solid #9922F0;
  border-radius: 20px;
  color: #9922F0 !important;
  background-color: #fff;
}

nav a.button:hover {
  background-color: #9922F0;
  color: #fff !important;
}

.content {
  margin-top: 66px;
}

.content .content-main {
  padding-top: 16px;
  text-align: center;
}

.content .content-main p {
  font-size: 36px;
  margin-bottom: 0px;
}

.content .content-main .main-title {
  font-size: 52px;
  line-height: normal;
  margin-bottom: 4px;
}

.content .content-main .main-text {
  margin-bottom: 0px;
}

.content .content-main .main-tel {
  font-size: 62px;
  line-height: normal;
}

.content .content-main ul.main-list {
  width: 100px;
  line-height: normal;
  margin-bottom: 0px;
  margin-top: 12px;
}

.content .content-main img.main-list {
  height: 20px;
  margin-right: 10px;
}

.content .content-main img.main-image {
  max-width: 95%;
  margin-top: 24px;
  margin-bottom: 24px;
}

.content .content-list {
  margin-top: 24px;
}

.content .content-list .list-item {
  text-align: center;
  padding: 0px;
  position: relative;
  top: 0px;
  transition: all 0.25s ease-in-out;
}

.content .content-list .list-item p {
  font-size: 12px;
}

.content .content-list .list-item:hover {
  top: -8px;
  text-shadow: 0px 8px 4px #888;
}

.content .content-android {
  height: 58px;
  background-color: #9922f0;
  margin-top: 22px;
}

.content .content-android .container,
.content .content-android .row {
  height: 100%;
}

.content .content-android .col-6 {
  display: inline-flex;
}

.content .content-android span.android-text {
  color: #fff !important;
  text-align: center;
  font-size: 22px;
  /*margin-right: 56px;*/
  margin: auto;
  /*padding-top: 10px;*/
}

.content .content-android img {
  display: inline-block;
}

.content .content-android img.store-image {
  max-height: 40px;
  max-width: 100%;
  margin-top: 12px;
  transform-origin: 50% 50%;
  transition: all 0.25s ease-in-out;
}

.content .content-android img.smart-image {
  max-height: 108px;
  max-width: 50%;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.content .content-form .form-block {
  width: 75%;
  margin: auto;
}

.content .content-form .form-block .reklama-container {
  position: relative;
}

.content .content-form .form-block .reklama-container .reklama-item {
  position: absolute;
  top: -8px;
  left: -64px;
  transform: rotate(-6deg);
  cursor: pointer;
  border-radius: 0.5rem;
  border: 2px solid #9922F0;
  overflow: hidden;
  margin-bottom: 1.25rem;
  box-shadow: 0px 8px 4px #888;
  /*box-shadow: 3px 3px 10px #9922F0;*/
}

.content .content-form .form-block .reklama-container .reklama-item .card-header {
  padding: 2px 8px !important;
  border: #fff 2px solid;
  border-radius: 0.5rem 0.5rem 0 0;
  background-color: #9922F0;
  color: #fff !important;
  text-align: center;
  font-size: 14px;
}

.content .content-form .form-block .reklama-container .reklama-item .card-body {
  padding: 8px;
  margin-bottom: 0px;
  text-align: center;
  font-size: 16px;
  font-weight: 600 !important;
  background-color: #fff;
}

.content .content-form .form-block .select-route-container {
  text-align: center;
  font-size: 36px;
  padding-top: 24px;
  line-height: normal;
}

.content .content-form .form-block .route-list {
  margin: 0px;
  margin-top: 1.5rem;
  min-height: 222px;
}

.content .content-form .form-block .route-list .route-item {
  cursor: pointer;
  border-radius: 1.25rem;
  border: 2px solid #9922F0;
  overflow: hidden;
  margin-bottom: 1.25rem;
  /*box-shadow: 3px 3px 10px #9922F0;*/
}

.content .content-form .form-block .route-list .route-item .card-header {
  padding: 8px;
  border-bottom: 1px solid #9922F0;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}

.content .content-form .form-block .route-list .route-item .card-body {
  padding: 2px 8px !important;
  background-color: #9922F0;
  color: #fff;
  text-align: center;
  font-size: 18px;
}

.content .content-form .places-block {
  padding: 1rem;
}

.content .content-form .places-block .places-control.card {
  border-radius: 1.25rem;
  border: 2px solid #9922F0;
  overflow: hidden;
  margin-bottom: 1.25rem;
  /*box-shadow: 3px 3px 10px #9922F0;*/
}

.content .content-form .places-block .places-control.card .card-header {
  border-bottom: 1px solid #9922F0;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  color: #9922F0;
}

.content .content-form .places-block .places-control.card .card-body {
  padding: 0px !important;
}

.content .content-form .places-block .places-control.card .card-body .row {
  padding: 0px !important;
  margin: 0px !important;
}

.content .content-form .places-block .places-control.card .card-body .row .places-control-list {
  padding: 1.25rem !important;
  cursor: pointer;
  border-left: 1px solid #9922F0;
}

.content .content-form .places-block .places-control.card .card-body .row .places-control-list input.datepicker-here {
  position: absolute;
  z-index: -1;
  width: 1px;
  height: 1px;
}

.content .content-form .places-block .places-control.card .card-body .row .places-control-list label {
  text-align: center;
}

.content .content-form .places-block .places-control.card .card-body .row .places-control-list p {
  margin-bottom: 0;
}

.content .content-form .places-block .places-control.card .card-body .row .places-control-list p.date-text {
  font-size: 20px;
}

.content .content-form .places-block .places-control.card .card-body .row .places-control-list p.day-text {
  font-size: 16px;
}

.content .content-form .places-block .places-control.card .card-body .row .places-control-list img {
  max-width: 90%;
}

.content .content-form .places-block .places-control.card .card-body .row .places-control-list img.datepicker-icon {
  cursor: pointer;
}

.content .content-form .places-block .places-control.card .card-body .row .places-control-list.selected {
  background-color: #9922f0 !important;
  cursor: default;
}

.content .content-form .places-block .places-control.card .card-body .row .places-control-list.selected p {
  color: #fff !important;
  font-weight: 600 !important;
}

.content .content-form .places-block .places-control.card .card-body .row .places-control-list:first-child {
  border-left: none;
}

.content .content-form .places-block .places-list h4 {
  text-align: center;
}

.content .content-form .places-block .places-list .preloader {
  position: absolute;
  width: 100%;
  text-align: center;
  padding: 0.5rem;
}

.content .content-form .places-block .places-list .place-list .place-list-empty {
  text-align: center;
  margin-top: 1rem;
  font-size: 20px;
}

.content .content-form .places-block .places-list .place-list .place-item-block {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 400 !important;
  color: #000 !important;
  background-color: #eee;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0.25rem;
  border-radius: 4px;
}

.content .content-form .places-block .places-list .place-list .place-item-block .place-item-time p.item-time {
  font-size: 20px;
  margin: 4px !important;
}

.content .content-form .places-block .places-list .place-list .place-item-block .place-item-time p.item-time span.time-minutes {
  font-size: 14px;
  position: relative;
  top: -4px;
  left: -2px;
}

.content .content-form .places-block .places-list .place-list .place-item-block .place-item-value {
  text-align: end;
  overflow: hidden;
}

.content .content-form .places-block .places-list .place-list .place-item-block .place-item-value .item-value-container {
  position: relative;
  right: -10px;
  transition: all 0.35s ease-in-out;
}

.content .content-form .places-block .places-list .place-list .place-item-block .place-item-value .item-value-container span.item-value {
  font-size: 22px;
  margin: 5px !important;
  position: relative;
  bottom: -3px;
  right: 5px;
}

.content .content-form .places-block .places-list .place-list .place-item-block .place-item-value .item-value-container button.item-button {
  padding: 4px 8px;
  font-size: 12px;
  margin: 5px !important;
  border: 1px solid #9922F0;
  border-radius: 12px;
  color: #9922f0 !important;
  background-color: #eee;
}

.content .content-form .places-block .places-list .place-list .place-item-block .place-item-value .item-value-container button.item-button:hover {
  background-color: #9922f0 !important;
  color: #fff !important;
}

.content .content-form .places-block .places-list .place-list .place-item-block .place-item-value.active {
  color: #9922F0 !important;
  font-weight: 600 !important;
}

.content .content-form .places-block .places-list .place-list .place-item-block .place-item-value.active .item-value-container {
  right: -150px;
}

.content .content-form .places-block .places-list .place-list .place-item-block:hover .place-item-value.active .item-value-container {
  right: -10px;
}

.content .content-form .places-block .places-list .place-list p.place-list-warning {
  padding-top: 16px;
  font-size: 20px;
  color: #aaa;
  text-align: center;
}

.content .content-warning {
  margin-top: 10px;
  padding: 0.75rem;
}

.content .content-warning p {
  color: #ff0000 !important;
  font-size: 18px;
  text-align: center;
  margin-bottom: 0px;
}

.content .content-warning p.warning-title {
  font-size: 22px;
  font-weight: 600 !important;
  margin-bottom: 4px;
}

.content .content-questions {
  margin-top: 24px;
}

.content .content-questions a {
  display: block;
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 600 !important;
}

.content .content-questions .card.card-body {
  padding: 0.5rem 1rem;
  font-size: 18px;
  margin-bottom: 0.5rem;
}

footer {
  height: 80px;
  background-color: #9922F0;
  padding-top: 2px;
}

footer p,
footer a {
  display: block;
  color: #fff !important;
  margin: 10px 0px;
  line-height: normal;
}

footer .column-left {
  min-width: 160px;
}

footer .column-right {
  text-align: end;
  padding-top: 4px;
}

footer a.small-letter {
  font-size: 10px;
}

.modal ul a,
.modal ul span {
  font-size: 18px;
}

.modal h5.modal-title {
  text-align: center;
  margin: auto;
  font-size: 24px;
}

.modal span.company-name {
  display: inline-block;
  width: 35%;
  text-align: end;
  padding-right: 12px;
}

.modal span.modal-float-right {
  text-align: end;
}

.modal span.modal-title-section {
  font-weight: 600;
  font-size: 18px;
}

@media (max-width: 992px) {
  .content .content-android span.android-text {
    font-size: 18px;
  }
}

@media (max-width: 767.98px) {
  p.section-title {
    font-size: 30px;
  }

  .content .content-form .form-block {
    width: 100%;
  }

  .content .content-form .form-block .reklama-container .reklama-item {
    top: -4px;
    left: 0px;
  }

  .content .content-form .form-block .reklama-container .reklama-item .card-body {
    font-size: 14px;
  }

  .content .content-form .form-block .select-route-container {
    padding-top: 76px;
  }

  .content .content-form .form-block .route-list .route-item {
    left: 0px;
  }

  .content .content-form .form-block .route-list .route-item .card-header {
    padding: 4px;
    font-size: 16px;
    line-height: normal;
  }

  .content .content-form .form-block .route-list .route-item .card-body {
    padding: 0px 4px !important;
    font-size: 16px;
  }

  .content .content-warning p {
    font-size: 16px;
  }
}

@media (max-width: 560px) {
  .content .content-main .main-title {
    font-size: 29px;
  }

  .content .content-main .main-text {
    font-size: 20px;
  }

  .content .content-main .main-tel {
    font-size: 32px;
  }

  .content .content-main ul.main-list {
    width: 76px;
    margin-top: 0px;
    font-size: 12px;
  }

  .content .content-main img.main-list {
    height: 14px;
  }

  .content .content-form .places-block .places-control.card .card-body .row .places-control-list {
    padding: 1rem !important;
  }

  .content .content-form .places-block .places-list .place-list .place-item-block .place-item-value .item-value-container button.item-button {
    padding: 4px 6px;
    font-size: 10px;
  }

  .content .content-form .places-block .places-list .place-list .place-item-block .place-item-value.active .item-value-container {
    right: -125px;
  }

  footer p {
    font-size: 12px;
  }

  footer p .column-right {
    padding-top: 0px;
  }
}

@media (max-width: 440px) {
  .content .content-android span.android-text {
    font-size: 13px !important;
  }

  .content .content-form .places-block .places-control.card .card-body .row .places-control-list {
    padding: 0.5rem !important;
  }

  .content .content-form .places-block .places-control.card .card-body .row .places-control-list p.date-text {
    font-size: 16px !important;
  }

  .content .content-form .places-block .places-control.card .card-body .row .places-control-list p.day-text {
    font-size: 14px !important;
  }
}

@media (max-width: 340px) {
  .content .content-form .places-block .card .card-text {
    font-size: 0.75rem;
  }

  .content .content-form .places-block .card .card-title {
    font-size: 1rem;
  }

  .content .content-android span.android-text {
    font-size: 11px;
  }

  .content .content-main .content-main .main-title {
    font-size: 20px;
  }

  .content .content-main .main-text {
    font-size: 14px;
  }

  .content .content-main .main-tel {
    font-size: 22px;
    padding-top: 4px;
  }

  .content .content-main ul.main-list {
    width: 56px;
    font-size: 10px;
  }

  .content .content-main img.main-list {
    height: 12px;
    margin-right: 0px;
  }
}

